.base{
  color: rgb(#D0D1DB);
}
.attribute{
  color: lightblue;
}
.attribute-value{
  color: yellow;
}
.attribute-assign{
  color: gray;
}
.tag-value{
  color: blue;
}
.tag{
  color: darkgray;
}
.unknown{
  background: palevioletred;
}